body *{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 1200;
  font-size: 50px;
  text-align: center;
}

.last-container {
  background-color: #C9EDDC; 
  border: 1px solid #999; 
  border-radius: 10px; 

}
h2 {
  text-align: center;
}

.paragraph1,
p {
  font-size:18px;
  padding-right: 10px;
  text-align: justify;
}
.paragraph2,
p{
  font-size:18px;
  text-align: justify;
  padding-left: 10px;

}
body {
  background-color: #6A706E;
}

.page {
  width: 950px;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}
.rounded-container {
  background-color: #C9EDDC; 
  border: 1px solid #999; 
  border-radius: 10px; 
  padding: 20px; 
}

.spacing_container{
  height: 20px;
}
.vis-container {
  width: 100%;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 20px;
}

.small-font {
  font-size: 14px;
}

.center_text{
  text-align: center;
}